<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calendari</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe src="https://calendar.google.com/calendar/embed?height=520&amp;wkst=2&amp;bgcolor=%233bc7c4&amp;ctz=Atlantic%2FFaroe&amp;showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;showTabs=0&amp;showPrint=0&amp;showDate=1&amp;mode=WEEK&amp;hl=ca&amp;src=cGFycmFnYWZlcnJlcmFsZXhAZ21haWwuY29t&amp;color=%23039BE5" style="border:solid 1px #777" width="100%" height="100%" frameborder="0" scrolling="no"></iframe></ion-content>


