<ion-header>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tiquets entrants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-item>
    <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Dmc. 16 Abril<br><ion-icon name="time-outline"></ion-icon>&nbsp;10:00-10:15</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Laia Viralta</p>
  &nbsp;<ion-buttons slot=end>
    <ion-button color="danger" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button color="success"   slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Dll. 14 Abril<br><ion-icon name="time-outline"></ion-icon>&nbsp;8:00-8:15</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Helena Nito</p>
    <ion-buttons slot=end>
    <ion-button color="danger" size="large" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button color="success"  size="large" slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Dm. 15 Abril<br><ion-icon name="time-outline"></ion-icon>&nbsp;10:00-10:15</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Joaquim Martinez</p>
    <ion-buttons slot=end>
    <ion-button color="danger" size="large" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button color="success"  size="large" slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Dmc. 16 Abril<br><ion-icon name="time-outline"></ion-icon>&nbsp;8:30-9:00</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Michael Pardell</p>
    <ion-buttons slot=end>
    <ion-button color="danger" size="large" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button color="success"  size="large" slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Dll. 14 Abril <br><ion-icon name="time-outline"></ion-icon>&nbsp;9:45-10:00</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Marc Arjó</p>
    <ion-buttons slot=end>
    <ion-button color="danger" size="large" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button color="success"  size="large" slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
<ion-card>
  <ion-item>
    <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Dm. 15 Abril <br><ion-icon name="time-outline"></ion-icon>&nbsp;11:45-12:00</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Axel Torres</p>
    <ion-buttons slot=end>
    <ion-button color="danger" size="large" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
    <ion-button color="success"  size="large" slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-item>
</ion-card>
<ion-card>
<ion-item>
  <p><ion-icon name="today-outline"></ion-icon><b>&nbsp;Ds. 11 Abril <br><ion-icon name="time-outline"></ion-icon>&nbsp;13:15-13:30</b><br><ion-icon name="person-outline"></ion-icon>&nbsp;Alex Toti</p>
  <ion-buttons slot=end>
  <ion-button color="danger" size="large" slot="end"><ion-icon name="trash-outline"></ion-icon></ion-button>
  <ion-button color="success"  size="large" slot="end"><ion-icon name="checkmark-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-item>
</ion-card>


</ion-content>
