<ion-content>
  <div class="alinear">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Què ets?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="user()" expand = "block"  size = "large">
              <ion-icon name="person"></ion-icon>
              <ion-label>Usuari</ion-label>
            </ion-button>

            <ion-button (click)="shop()" expand = "block" size="large">
              <ion-icon name="cart"></ion-icon>
              <ion-label>Comerç</ion-label>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>
